nav{
    display: flex;
}

nav>ul{
    
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-grow: 1;
    background-color: rgb(37, 37, 37);
    justify-content: center;

}

nav li{
    /* display: flex; */
    padding: 10px;
    font-family: 'Fredoka One', cursive;
}

nav li:hover{
   font-style: italic;
}


