@import "/assets/css/generic.css";

/*========== margins ==========*/

*{
    margin: 0;
    padding: 0;
    /* outline: 1px dashed white; */
}


/*=========== spacing ==========*/

*+p, *+img, *+small, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
	margin-top: 20px;
}

h1, h2, h3, h4 {
    line-height: 1.25;
    color: white;
}

p {
    max-width: 85ch;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

/*====== image formatting =====*/

img {
    object-fit: cover;
}




/*============== actual stuff now ============*/



body{
    background-color:rgb(151, 199, 118);
    flex: nowrap;
    font-family: 'Audiowide', cursive;
}

/*================== header =================*/



header{

    background-color: rgb(151, 199, 118);
    /* height: 40vh; */
    margin: 0;
    display: flex;

}

header::before,
header::after{

    content: "";
    border-bottom: 1px solid rgb(255, 255, 255);
    flex-grow: 1;
    align-self: center;
    
}

h1{

    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: xx-large;

}

body>section{

    height: 20vh;
}


/*============= footer-navigation ==========*/

.footer{

    background-color: rgba(99, 99, 99, 0.658);
    padding: 60px 0;
    position: relative;

}

.footer-container{

    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 100%;

}


.footer .weed-logo {
    display: block;

}


.footer-nav{

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

}

.footer-link{

    margin: 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.footer-link:hover{

    font-style: italic;

}

.grid_col{

    display: flex;
    gap: 40px;
    margin-bottom: 40px;

}

.footer_col{

    width: 100%;
    text-align: center;
    padding: 0 40px;

}

.footer_col h4{

    font-size: 22px;

}

.footer_col p{

    font-size: 13px;
    font-weight: 300;
    margin: 10px 0;

}



.weed-logo{
    
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}

/*============ footer buttons =========== */

.footer .btn{

    margin: 5px;
    font-size: 12px;
    align-self: stretch;
    padding: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.404);

}

.input-footer{
    
    border-radius: 5px;
    width: 50%;
    opacity: 50%;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    outline: 1px solid transparent;
    padding: 5px;

}



/*================ icons ================*/

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

i{
   color: white;
   padding: 5px;
}

/*=========== flex-box ===========*/

.demo-flex{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.335);

}

.demo-flex>*{
    /* flex-basis: 200px; */

    /* use flex basis to decide how many columns */
    flex-basis: calc(100%/2);
    flex-grow: 1;
    padding: 10px;
    /* this is so that you can add padding and it doesnt effect the columns */
    box-sizing: border-box;

}

/* important note:
flex-grow = 0 by default;
flex-shrink = 1 by default; */


/*============ demo-grid =============*/

.demo-grid{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}

.demo-grid>*{
    /* flex-basis: 200px; */
    flex-basis: calc(80%/4);
    flex-grow: 1;
    padding: 10px;

}
