@import "/assets/css/generic.css";

/*========== margins ==========*/

*{
    margin: 0;
    padding: 0;
}


/*=========== spacing ==========*/

*+p, *+img, *+small, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 { 
	margin-top: 20px; 
}

h1, h2, h3, h4 {
    line-height: 1.25;
    color: white;
}

p {
    max-width: 85ch;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

li{
    text-decoration: none;
    list-style-type: none;
}

/*====== image formatting =====*/

img {
    object-fit: cover;
}




/*============== actual stuff now ============*/



body{
    background-color: rgb(68, 134, 24);
    flex: nowrap;
}


header{
    
    background-color: rgb(99, 143, 70);
    height: 40vh;
    margin: 0;

}

body>section{

    height: 20vh;
}


/*============= footer-navigation ==========*/

footer{

    display: block;
    margin-top: auto;
    height: 40vh;
    flex-direction: column;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}


.footer-links{

    display: flex;
    justify-content: space-around;
    

}


li{

    padding: 10px;

}


.weed-logo{

    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

}