@import "generic.css";


/*============ general outline ============*/

/* *{
    outline: dotted black;

} */

body{
    background-color: rgb(247, 126, 45);
    display: flex;
    height: 100%;
    font-family: 'Fredoka One', cursive;
    margin: 0;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;

}


/*============= body ==================*/


header{
    display: flex;
    padding: 10px;
    flex-direction: column;

}

header>h3{
    font-size:40px;
    align-self: flex-end;
}

section{

    gap:20px;
    padding: 10px;

}

aside{
    margin: 0;
}




/*============== navigation =============*/

nav{

    display: flex;
    flex-direction: column;
    background-color: rgba(252, 161, 101, 0.76);
    width: 15vw;
    height: 100vh;
    /* padding: 10px; */
    margin: 0;
}

nav>a{

    padding: 10px;
    outline: black;

}

nav>h3{
    padding: 10px;
}

/*============= hover =================*/


nav>a:hover{

    background-color: rgba(247, 200, 169, 0.76);

}

span:hover{
    background-color: rgba(247, 200, 169, 0.76);
}


/*======== dropdown navigation ======= */


span{
    
    display: block;
    padding: 10px;
}

.dropdown-container{

    /* this allows top to function and position items */
    position: relative;
    display:block;

}

.dropdown-content{
    margin-left: 15vw;
    /* prevents the weird shift */
    position: absolute;
    /* use this to shift content without making weird gaps in containers */
    top: 0;
}

.dropdown-content>a{
    padding: 5px 10px 10px 10px;
    display: block;
}

/*======== dropdown navigation hover =======*/

.dropdown-container:not(:hover) .dropdown-content{
    display: none;
    background-color: rgb(247, 126, 45);
}

.icon:hover{

    font-weight: 100;

}

.dropdown-content a:hover{

    background-color: rgba(247, 200, 169, 0.76);
}

/*================== icon ==================*/

.icon-container{

    display: flex;
    padding: 10px;
    margin-top: auto;
    justify-content: space-around;
    
}

.icon{
    padding: 10px;
    /* margin-left: 80%; */
}

